# Database local development defaults
POSTGRES_DB=smart_farmer_db
POSTGRES_USER=smart_farmer_user
POSTGRES_PASSWORD=smart_farmer_password
DB_HOST=db
DB_PORT=5432

# Django configuration
DEBUG=True
SECRET_KEY=django-insecure-dev-key-change-in-infisical